/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/frontend.config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_sprite.scss';
@import "global";


/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */


@import '~@styles/editor';
@import './_generic*.scss';



/* ------------------------------------------------------------ *\
    Blocks
\* ------------------------------------------------------------ */
@import "blocks/question-module";
@import "blocks/test";
@import "blocks/car-products";
@import "blocks/hero-module";

@import "blocks/benefist-module";

@import "blocks/gallery_module";
@import "blocks/additional-service";
@import "blocks/car-park-module";
@import "blocks/header";




@import "blocks/footer";
@import "blocks/information-module";
@import "blocks/contacts";
