.car-park-headline {
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #1F1F1F;
  padding-top: 44px;
}

.car-park-subheadline {
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #323232;
  max-width: 1167px;
  margin: 44px auto 0 auto;
  padding-bottom: 44px;
}

.button-ajax {
  margin: 30px auto 0 auto;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.button-ajax-cars {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  padding: 20px 35px;

}
.button_style {
  background: #FDB312;
  border-radius: 50px;
}

@media (max-width: 1200px) {

  .car-products-wrapper-ajax {
    display: flex;
    flex-direction: column;
  }
  .wrapper-car {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .car-products-wrapper-block {
    width: 90%;
  }
}


