.header {
  display: flex;
  justify-content: space-between;
  height: 100px;

  @include _992 {
    height: 80px;

    &-desktop {
      display: none;
    }

    .header-burger {
      display: flex;
      align-items: center;
    }
  }

  &-mobile {
    display: none;

    @include _992 {
      display: flex;

      .menu-header-menu-container {
        display: none;
      }
    }
  }

  &-block-left {
    display: flex;
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  &-button {
    margin: 29px 40px 30px 30px;
    max-width: 167px;
    max-height: 41px;
    background: #E0E0E0;
    border-radius: 50px;

    @include _992 {
      display: none;
    }

    &-btn {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.01em;
      padding: 10px 20px;
    }

    &-btn-mobile {
      display: none;
      @include _992 {
        display: flex;
        align-items: center;
      }
    }
  }

  &-description {
    display: flex;
    flex-direction: column;

    @include _1440 {
      display: none;
    }

    &-social {
      display: flex;
      margin-top: 14px;

      &-picture {
        padding-right: 19px;
      }
    }

    &-info {
      display: flex;
      margin: 5px auto;

      &-adress {
        margin-right: 5px;
      }
    }

    &-connection {
      display: flex;

      &-phone_number {
        margin-right: 14px;
        text-decoration: underline #FDB312;
      }

      &-messengers {
        display: flex;

        &-item-telegram {
          padding-right: 10px;
        }

        &-item-viber {
          padding-right: 10px;
        }
      }
    }
  }

  .menu-header-menu-container {

    .menu {
      display: flex;
      list-style: none;
      font-size: 18px;
      line-height: 125%;
      color: #1F1F1F;


      li:nth-child(n) {
        margin-right: 25px;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        line-height: 125%;
        color: #1F1F1F;
      }
    }
  }
}

.button-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(176, 176, 176, 0.8);
  backdrop-filter: blur(20px);
  opacity: 0;

  &-output {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;

    @include _370 {
      padding: 16px;
    }
  }

  &-decription {
    padding: 26px 193px 80px 96px;

    @include _880 {
      padding: 26px 186px 80px 83px;
    }
    @include _640 {
      padding: 22px 36px 54px 35px;
    }


    &-text {
      font-weight: bold;
      font-size: 40px;
      line-height: 100%;
      color: #1F1F1F;
      margin-bottom: 30px;
      max-width: 440px;

      @include _370 {
        font-size: 18px;
      }
    }
  }
}

.modal-container {
  position: absolute;
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #F3F3F3;
  border-radius: 10px;

  @include _880 {
    max-width: 708px;
    max-height: 502px;
  }

  @include _640 {
    max-width: 500px;
    max-height: 500px;
  }

  @include _370 {
    max-width: 288px;
    max-height: 359px;
  }
}

.active-model {
  z-index: 9;
  opacity: 1;

  .modal-container {
    z-index: 10;
    opacity: 1;
  }
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .form-name {
    width: 415px;
    height: 63px;
    margin-bottom: 10px;
    border: 1px solid #FDB312;
    box-sizing: border-box;
    border-radius: 10px;

    @include _640 {
      width: 300px;
      height: 63px;
    }

    @include _370 {
      width: 217px;
      height: 58px;
    }

  }
}

.wpcf7-text {
  font-size: 18px;
  line-height: 125%;
  color: #1F1F1F;
  padding-left: 25px;

  @include _370 {
    font-size: 14px;
    padding-left: 20px;
  }

}

.form-number {
  width: 415px;
  height: 63px;
  margin-bottom: 30px;
  border: 1px solid #FDB312;
  box-sizing: border-box;
  border-radius: 10px;

  @include _640 {
    width: 300px;
    height: 63px;
  }
  @include _370 {
    width: 217px;
    height: 58px;
    margin-bottom: 15px;
  }
}

.burger-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: #F3F3F3;
}

.active-burger-menu {
  z-index: 10;
  opacity: 0.95;
}

.header-mobile-menu {

  .menu a {
    color: black;
  }
}

.not-scroll {
  overflow: hidden;
}

